.box {
    padding: 1em;
    margin: 1em;
}
fieldset {
    display: flex;
    flex-flow: column;
    max-width: 20em;
}
input {
    margin-top: 1em;
}
label {
    margin: 1em;
    margin-left: 0;
}
.boxes {
    align-content: right;
}